.hide {
	display: none;
}

.clear-fix {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#loginbox {
	margin-top:50px;
}

#loginbox  .forgotpass {
	float: right; 
	font-size: 80%; 
	position: relative; 
	top: -10px;
}

#loginbox .panel-body {
	padding-top: 30px;
}

#loginform .input-group {
	margin-bottom: 25px;
}

#loginform .login-btn {
	margin-top: 10px;
}

#loginform .account-create {
	border-top: 1px solid#888; 
	padding-top: 15px; 
	font-size: 85%;
}

#signupbox {
	margin-top: 50px;
}

#signupbox .signin-link {
	float:right; font-size: 85%; 
	position: relative; 
	top: -10px;
}

.article-list-cotent {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

article .post-date {
    color: #9f9f9f;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}
article .post-date {
    margin-top: 1em;
}

article .post-date span {
    float: right;
    margin-right: 30px;
}

article a {
    border-bottom: 1px solid rgba(198, 70, 61, 0);
    color: #008ed6;
    font-weight: bold;
    transition: border 0.2s ease 0s;
}

article h2 {
    font-size: 2.1875rem;
    margin: 0.6em 0 !important;
}

article h1, article h2, article h3, content h4 {
    color: #383838;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-weight: bold;
}

article h2 a {
    border: 0 none;
    color: #404046;
}

article p {
    border: 0 none;
    font: inherit;
    margin: 0.6em 0 1em;
}

.content-image {
	float: left;
	margin: 0 1em 1em 0;
}

#footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    width: 100%;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.container .credit {
    margin: 20px 0;
}

.form-tip {
	width: 100%;
	color: #999;
	font-size: 12px;
}

